@use '../custom'as *;
@use '../components/mixins'as *;

.intro-section {
  @include gradient;
  padding: 6rem 0 0 0;
  width: 100%;
  height: 100%;

  @include media-breakpoint-up(md) {
    padding: 8rem 0 0 0;
  }

  @include media-breakpoint-up(lg) {
    padding: 10rem 0 0 0;
  }
}

.intros {
  .video-box {
    position: relative;

    a {
      span {
        height: 3.5rem;
        line-height: 3.5rem;

        @include media-breakpoint-up(md) {
          height: 5rem;
          line-height: 5rem;
        }

        @include media-breakpoint-up(lg) {
          height: 6rem;
          line-height: 6rem;
        }

        i {

          font-size: 3.5rem;
          color: $orange;

          @include media-breakpoint-up(md) {
            font-size: 5rem;
          }

          @include media-breakpoint-up(lg) {
            font-size: 6rem;
          }

        }
      }
    }
  }
}

.border-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.5rem;
  height: 3.5rem;
  border: 0.35rem solid $white;

  @include media-breakpoint-up(md) {
    width: 5rem;
    height: 5rem;
    border-width: 0.45rem;
  }

  @include media-breakpoint-up(lg) {
    width: 6rem;
    height: 6rem;
    border-width: 0.55rem;
  }
  border-radius: 50%;
  animation: pulse-border 1.5s linear infinite;

  &--border-1 {
    animation-delay: 1s;
  }

  &--border-2 {
    animation-delay: 1.5s;
  }
}
